* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
    color: Black;
}

body {
    overflow-x: hidden;
    animation: fadein 4s linear;
    opacity: 1;
}
@keyframes fadein {
    from{opacity: 0;}
}

.vi {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }

 header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    height: 68px;
}

header .logo a img{
    width: 100px;
    height: 100px;
}

nav{
    justify-content: center;
    display: flex;
    gap: 10px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul li {
    padding: 16px 0;
    /*font-family: Exo, sans-serif;*/
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    white-space: nowrap;
}
nav ul a{
    text-decoration: none;
}

nav ul li:hover {
    color: #0d6efd;
    transition: all ease .3s;
}

header .btn{
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 18px;
    border: 2px solid tomato;
    height: 32px;
    padding: 7px 21px;
    position: relative;
    right: 155px;
    top: 6px;
    background-color: transparent;
}

header .btn a{
    text-decoration: none;
    color: tomato;
}

section form .detail input{
    border-radius: 17px;
    padding: 3px;
}

section form .gen{
    display: inline-flex;
    gap: 7px;
}

section button{
    border-radius: 7px;
    background-color: tomato;
    width: 80px;
    height: 25px;
}